{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форум</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            Привет, {{ user.username }}! |
            <form method="post" action="{% url 'accounts:logout' %}" style="display:inline;">
            {% csrf_token %}
                <button type="submit" style="background:none; border:none; padding:0; cursor:pointer; color:blue; text-decoration:underline;">
                    Выйти
                </button>
            </form>
            <a href="{% url 'accounts:profile' %}">Личный кабинет</a>
        {% else %}
            <a href="{% url 'accounts:login' %}">Вход</a> |
            <a href="{% url 'accounts:register' %}">Регистрация</a>
        {% endif %}
    </header>

    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>

